{% for cat in category_list %}
    <li class="item-wrapper treeview-animated-items">
        <a id="cat-id-{{ cat.id }}" class="item-li treeview-animated-items-header" cat-id="{{ cat.id }}">
            <span class="material-icons">chevron_right</span>
            <span>{{ cat }}</span>
        </a>
        <ul class="equipment-list nested">
            {% for eq in cat.equipment %}
                <span>eq.name</span>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
<div id="filter_by" style="display: none;">
    <span id="filter_by_field">{{ filter_by_field }}</span>
    <span id="filter_by_value">{{ filter_by_value }}</span>
</div>
<script>
    $('.item-wrapper').click(function (e) {
      e.stopPropagation();
      var thisDiv = $(this).find('ul');
      var category_id = $(this).find('a').attr('cat-id');
      $.get(`/get_equipment/${category_id}/${JSON.stringify(filter_json)}/`,
            function(data){
                
                if (!thisDiv.hasClass('active')){
                    thisDiv.html('');
                    thisDiv.addClass('active').append(data).hide();
                    thisDiv.slideDown();
                }else{
                    thisDiv.removeClass('active').slideUp();
                }
            }
        );
        $(this).find('.material-icons').toggleClass('item-wrapper-down');
        $(this).find('.item-li').toggleClass('active-cat');
    });
</script>